* {
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

html{
    height:100%;
}

body{
    height: 100%;
    background-color: #FFBECE;
    margin:0px;
    overflow:hidden;
}

.overlay{
    top:0;
    bottom:0;
    border:white dotted 25px;
    z-index: 2;
    background-color:#FFBECE;
    text-align:center;
    position:fixed;
}

.overlay h1{
    font-size:70px;
}

.startBtn{
    background-color: white;
    border-radius: 25px;
    box-shadow: 5px 5px 10px #b53874e6;
    width: auto;
    height: auto;
    padding: 10%;
    border: none;
    font-size: 80px;
    font-weight: bold;
}
.innerOverlay{
    margin-top:50%;
}
.navtop{
    height:6%;
    margin:0;
    padding: 10px;
    background-color:white;
    border-bottom:1px solid grey;
    position:relative;
}

.brand{
    font-size:80px;
    margin:0;
}

.placeholder{
    width:100%;
}
.navbottom{
    height:4%;
    margin:0;
    padding:10px;
    background-color:white;
    box-shadow: 2px 2px 10px black;
}

.bar{
    width:55px;
    height: 10px;
    background-color:grey;
    margin: 10px 0;
}
.navbar{
    margin:0;
    list-style-type:none;
    overflow:hidden;
    width:10%;
}

.navlist{
    float:left;
}

.menu{
    background-color:white;
    height: 70%;
    width: 85%;
    border: 3px solid grey;
    z-index:1;
    position: absolute;
    display:none;
    top:12.3%;
    border-top:none;
    border-left:none;
    box-shadow: 4px 10px 10px grey;
    overflow:scroll;
}

#ark.omOss .kontakt{
    display:none;
}

.ark{
    background-color: white;
    margin:30px;
    height:90%;
    padding:10px;
    box-shadow: 2px 2px 10px black;
    position:absolute;
    width: 92%;
    overflow:scroll;
    display:flex;
    justify-content: space-around;
    flex-wrap:wrap;
}

.ark div{
    border:1px #ccc solid;
    padding:10px;
    height:fit-content;
}

.box0{
    flex-basis:100%;
}
.box1{
    flex-basis:70%;
}
.box2{
    flex-basis:70%;
}
.box3{
    flex-basis:70%;
}

.rootMenuTitle{
    font-size:70px;
    background-color:#b53874;
    color:white;
    margin-left:-40px;
    box-shadow: 0px 5px 9px lightgrey;
}

.menu ul li{
    list-style-type: none;
}
.menu ul li:active{
    background-color:lightgrey;
}

.rootMenu{
    font-size:70px;
}

.menu ul li:active{
    background-color:white;
}

.nested{
    display:none;
    font-size:60px;
    border-left: 2px solid black;
    margin-left:32px;
}

.active {
    display:block;
}

.arrow::before {
  content: "\2192";
  color: black;
  display: inline-block;
  margin-right: 6px;
  
}
.arrow-down::before{
    transform:rotate(90deg);
}

.borderDiv{
    border-left:1px solid black;
    border-bottom:1px solid black;
    float:left;
    width: 6%;
    height:80px;
}

h3{
    font-size:60px;
}
p{
    font-size:50px;
}

label{
    font-size:50px;
}
input{
    font-size:50px;
    border:5px solid magenta;
    border-radius: 12px;
}
button{
    width:50%;
    height:100px;
    font-size:50px;
}